<h1>Your Registered Applications</h1>

<% @applications.each do |application| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to application.name, application %></p>
            </h4>
        </div>
    </div>
<% end %>
